@font-face {
	font-family: 'RohnRounded';
	src: url(../../assets/fonts/RohnRounded-3fe0c13c424e141d67c7c952655d977c.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}